@font-face {
    font-family: '--';
    src: url('--');
}
body
{
font-family: '--' ;
font-size:1em;
background:#000 url("images/--.svg") fixed no-repeat;
}

h1
{
font-family: '--';
font-weight: normal;
color:#fff;
font-size:3em;
text-align: center;
text-shadow: -px -px -px #----;
}
h2
{

}
h3
{

}

